body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;  
    display: flex;
    flex-direction: column;
    align-items: center; 
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    /* margin-top: 35px; */
}
h1{
    margin-top: -200px;
}
.register{
    margin-top: 30px;
    color: white;
    margin-bottom: 70px;
}
a[href="register/register.php"] {
  font-size: 19px;
  color: white;
  
}
a[href="register/register.php"]:hover{
  opacity: 0.8;  
}
/* CSS targeting the specific <a> tag */
a[href="./chechIn/checkOut/QnA/index.html"] {
  color: white;
  background-color: #0d6efd;
  font-size: 20px;   
  border-radius: 40px;
  padding: 26px;
  text-decoration: none;
  
}
a[href="./chechIn/checkOut/QnA/index.html"]:hover{
  color: black;
  background-color: white;
}
#logout{
  z-index: 1;
  border: none;
  color: white;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: red;
  float: right;

  
}