body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: b;
    padding-top: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: end;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    margin: 0px;
    position: fixed;
    top: 0%;
    transition: transform 0.3s ease-in-out;
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

.side-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: right;
    color: white;
    font-size: 25px;
    font-weight: 2px;
    font-family: emoji;
}

.icons {
    filter: invert(1) brightness(2);
    font-size: 900px;
    height: 30px;
    width: 30px;
    margin-bottom: -5px;
}

.dashboard {
    margin-bottom: 0%;
}

.admin {
    filter: invert(1) brightness(2);
    height: 50px;
}

.admin1 {
    width: 250px;
    position: relative;
    margin-bottom: 50px;
    margin-top: -13px;
}
.admin2 {
    position: absolute;
    margin-left: 5px;
}
p {
    color: white;
    font-family: emoji;
    text-align: right;
    opacity: 0.7;
}

.p {
    color: black;
    font-family: cursive;
    text-align: left;
    opacity: 1;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}



.user {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(200deg) brightness(1);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    top: 0%;
    height: 80px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.display-area {
    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 0px;
    height: auto;
    width: auto;
}

#displayed-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sideview {
    margin-left: 300px;
    margin-right: 40px;
    margin-top: 40px;
    height: auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.updates{
    padding-bottom: 20px;
    /* margin-right: 70px; */
   
}
.updates:hover{
    cursor: pointer;
    opacity: initial;
    color: aqua;
}
.Dashbord:hover {
    cursor: pointer;
    opacity: initial;
    color: aqua;
}
.Attachies:hover {
    cursor: pointer;
    opacity: initial;
    color: aqua;
}
.Print_report:hover {
    cursor: pointer;
    color: aqua;
}
.print_r{
    height: 60vh;
}
.register:hover{
    cursor: pointer;
    opacity: initial;
    color: aqua;
}
.searchbutton{
    margin-top: 29px;
    height: 40px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .side-content {
        font-size: 20px;
    }

    .admin1 {
        width: 200px;
    }

    .sideview {
        margin-left: 220px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .side-content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0px;
    }

    .admin1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .sideview {
        margin-left: 0;
        margin-top: 20px;
    }

    .header {
        justify-content: center;
    }
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    padding-top: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    margin: 0px;
    position: fixed;
    top: 0%;
    transition: transform 0.3s ease-in-out;
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

.side-content {
    margin-top: 0px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* gap: 60px; */
    text-align: right;
    color: white;
    font-size: 25px;
    font-weight: 2px;
    font-family: emoji;
}

.icons {
    filter: invert(1) brightness(2);
    font-size: 900px;
    height: 30px;
    width: 30px;
    margin-bottom: -5px;
}

.dashboard {
    margin-bottom: 0%;
}

/* .admin {
    filter: invert(1) brightness(2);
    height: 70px;
}

.admin1 {
    width: 250px;
    position: relative;
    margin-bottom: 40px;
} */

p {
    color: white;
    font-family: emoji;
    text-align: right;
    opacity: 0.7;
}

.p {
    color: black;
    font-family: cursive;
    text-align: left;
    opacity: 1;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

/* .admin2 {
    position: absolute;
    margin-left: 12px;
} */

.user {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(200deg) brightness(1);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    top: 0%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width:auto;
}

.display-area {
    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 0px;
    height: auto;
}

#displayed-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sideview {
    margin-left: 300px;
    margin-right: 40px;
    margin-top: 40px;
    height: auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: inline-block;
}

.Dashbord:hover {
    cursor: pointer;
    opacity: initial;
    color: aqua;
}
.Department:hover {
    cursor: pointer;
    opacity: initial;
    color: aqua;
    
}
.Print_report:hover {
    cursor: pointer; 
    color: aqua;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .side-content {
        font-size: 20px;
    }

    .admin1 {
        width: 200px;
    }

    .sideview {
        margin-left: 220px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 20%;
       font-size: 8px;
    }

    .side-content {
        
       font-size: 15px;
    }

    .admin1 {
        width: 150px;
        
    }
    .Dashbord{
        font-size: 13px;
    }
    .Print_report{
        font-size: 14px;
        margin-left: -4px;
    }
    .sideview {
        margin-left: 220;
    }

    
}
table {
    width: auto;
    margin: 20px auto;
    border-collapse: collapse;
    
}


th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; 
    color: #000000;
    text-transform: uppercase;
}

tr {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #007bff;
}
input[type=submit]:hover{
    opacity: 0.7;
}
#logout{
   z-index: 1;
   border: none;
   color: white;
   border-radius: 20px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 5px;
   margin-right: 10px;
   background-color: red;
   float: right;

   
}

.pprint:hover{
    opacity: 0.8;
  
}
button{
    box-shadow: 20px ;
    padding: 4px;
    border-left: solid#f0f0f0;
    border-top: solid#f0f0f0;
    border-bottom: solid#6c757d;;
    border-right:solid #6c757d; ;
}
button:hover{
    background-color: #ced4da;
    cursor: pointer;
}
a{
    color: white;
}
a:hover{
    opacity: 0.8;
}